<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ферма</title>
</head>
<body>
<h1>Добро пожаловать на ферму!</h1>
<p>Случайный звук: <strong th:text="${sound}"></strong></p>
<button onclick="window.location.reload()">Обновить</button>
<p>
    <a href="/admin"><button>Перейти в админку</button></a>
</p>
<form method="post" action="/logout">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <button type="submit">Выйти из системы</button>
</form>
</body>
</html>